<configuration>
  <property name="ROOT_LOG_LEVEL" value="${ROOT_LOG_LEVEL:-INFO}" />
  <property name="APP_LOG_LEVEL" value="${APP_LOG_LEVEL:-INFO}" />
  <property name="LINKS_LOG_LEVEL" value="${LINKS_LOG_LEVEL:-INFO}" />
  <property name="LOG_CONTEXT" value="${LOG_CONTEXT:-depchain}" />
  <property name="CONSOLE_LOG_PATTERN"
            value="%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan([%thread]) %magenta(${LOG_CONTEXT}) %blue(%logger{28}) %gray(-) %msg%n%ex{5}" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="pt.ulisboa.depchain" level="${APP_LOG_LEVEL}" />
  <logger name="pt.ulisboa.depchain.shared.network.links" level="${LINKS_LOG_LEVEL}" />
  <logger name="io.netty" level="WARN" />
  <logger name="org.hyperledger.besu" level="WARN" />
  <logger name="org.bouncycastle" level="WARN" />
  <logger name="com.google.protobuf" level="WARN" />

  <root level="${ROOT_LOG_LEVEL}">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
